language: elixir
elixir:
  - 1.1.1
  - 1.2.0
  - 1.3.0-rc.0
otp_release:
  - 18.1
env: MIX_ENV=test
before_script:
  - mix local.rebar --force
after_script:
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix inch.report
