language: erlang

otp_release:
  - 18.1

sudo: false

before_script:
  - git clone https://github.com/elixir-lang/elixir.git
  - cd elixir && git checkout 8f8819db08b33936cf4ccf57313faa3e242531fb
  - make compile && cd ..
  - export PATH=$PWD/elixir/bin:$PATH
  - mix local.hex --force
  - mix local.rebar3 --force
  - mix deps.get
  - mix hex.info

script:
  - mix test
